* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
	background-color: #000000;
}

#canvas {
	background-color: #000000;
	margin: auto;
	display: block;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	outline-color: #505050;
	outline-style: solid;
	outline-width: 2px;
}